
/*--------------------------- wyswietlanie produktów -------------------------------------------  */


.filter-menu {


}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    max-width: 300px;
}

.product-img {
 
    overflow: hidden;
    border-radius: 10px;
    height: 150px;
    width: 250px;
}
.product-img img{

    height: 100%;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.product-info {

    margin-left: 15px;
    text-align: left;
    font-size: 15px;
}

.quantity-button {
    background-color: #000;
    font-size: 30px;
    width: 35px;
    height: 35px;
    color: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;

}

.add-to-cart-button {
    margin-left: 5px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 13px;
    cursor: pointer;
}
.login-first{
    margin-left: 5px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 13px;
    cursor: pointer;
}
.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-input {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input {
  -moz-appearance: textfield;
}