.logo{
    border-bottom: medium solid black;
    width: 90%;
    margin-left: 20px;
}
.logo img{
    height: 90px;
}

.login-container {

    background-color: white;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 70;
    height: 500px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1 {
    color: #3C2F2F;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Imprima;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
input[type="email"], input[type="password"] {
    font-size: 17px;
    height:55px;
    padding: 5px;
    margin:10px;
    margin-inline:30px;
    border-radius: 2px;
    background: #FFF;
    border: none;
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

button {
    height:35px;
    border-radius: 2px;
    margin: 10px;
    border: none;
    margin-inline:30px;
    font-size:18px;
    background: rgba(217,217,217);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h3{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.create-account-button {
    height:35px;
    border-radius: 2px;
    margin: 10px;
    margin-inline:30px;
    font-size:18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background: #000;
    color: white;
}