body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category{
    display: flex;
    margin-right: auto;
    padding-left: 30px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    position: relative;
    padding: 8px;
    cursor: pointer;
    margin-right: 10px;
}

nav li:hover {
    background-color: #ddd;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 10px;
}

nav li:hover .sub-menu {
    display: block;
}

.search-bar {
    padding: 10px;
}

.search-bar input {
    padding: 8px;
    width: 200px; 
}

.icons {
    display: flex;
    align-items: center;
    padding: 10px;
}

.icons img {
    margin-right: 10px;
}



/*--------------------------- wyswietlanie produktów -------------------------------------------  */


.filter-menu {
    /* Dodaj style dla menu do filtrowania */
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px; /* Maksymalna szerokość diva produktu */
}

.product-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.product-info {
    margin-top: 10px;
}

.add-to-cart-button, .quantity-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
}