header {
    background-color: black;
    color: #fff;
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category{
    display: flex;
    margin-right: auto;
    padding-left: 20px;
}

.category .mobile-icon {
    display: none; /* Ukryj ikonę na większych ekranach */
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
}

.category ol {
list-style-type:none;
padding:0;
margin:0;
background-color:#000000;
font-size:18px;
height:2em;
line-height:2em;
text-align:center;
}

.category ol a {
display:block;
text-decoration:none;
color:#ffffff;
padding:0 5px;
font-size: 17px;
}

.category ol > li {
float:left;
width:120px;
margin-left:1px;
background-color:#474747;

}

.category ol > li:first-child {
margin-left:0;
}

.category ol > li:hover {
background-color:#212121;
}

.category ol > li:hover > a {
color: #EEE;
}

.category ol > li:hover > ul {
display:block;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

ol > li > ul {
display:none;
list-style-type:none;
padding:0;
margin:0;
}

ol > li > ul > li {
position:relative;
background-color:#474747;
}



ol > li > ul > li:hover {
background-color:#ffffff;
}

ol > li > ul > li:hover > a {
color:rgb(0, 0, 0);
}
/* --------right icons--------------------------- */

.icons {
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;

}
.icons img{
    width: 57px;
    height: 57px;
}
.icons a{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    margin: 5px;
    padding-left: 10px;
    
}
.icons span{
    margin-top: 5px;
    text-transform: uppercase;

}
/* -----search bar----------------------------------------- */
.search-bar{
    display: flex;
    flex-direction: row;
    width: 160px;
}
.search-bar img{
    width: 35px;
    height: 35px;
    padding-right: 5px;

}
.search-bar input{
    width: 110px;
    background-color: #000;
    border: none;
    border-bottom:3px solid #ffffff; 
    padding: 7px;

 
}
.search-bar ::placeholder{
    font: initial;
    color: #ffffff;
}
ol :first-child{
    display: none;
}

@media only screen and (max-width: 900px) {
    .logo img{
        display: none;
     }

}
@media only screen and (max-width: 705px) {
    .logo img{
       display: none;
    }
    ol :first-child{
        display: block;
    }

    
    .category ol {
        display: none; /* Ukryj menu na początku */
        flex-direction: column; /* Zmień układ na kolumnowy na mniejszych ekranach */
    }

    .category .mobile-icon {
        display: block; /* Pokaż ikonę na mniejszych ekranach */
    }

    .category ol > li {
        width: 100%; /* Szerokość 100% dla elementów menu na mniejszych ekranach */
        margin-left: 0;
        margin-bottom: 5px; /* Dodatkowy margines pomiędzy elementami menu */
    }

    .category ol > li:hover {
        background-color: transparent; /* Usuń tło dla elementów menu po najechaniu */
    }

    .category ol > li:hover > ul {
        display: block; /* Pokaż submenu po najechaniu */
    }

    .category .menu-list {
        display: none; /* Ukryj menu na początku na mniejszych ekranach */
        flex-direction: column; /* Zmień układ na kolumnowy na mniejszych ekranach */
   
    }
}